section .container{
    padding-top: 94px;
    justify-content: center;
}
.list.features{
    display: flex;
    justify-content: space-between; 
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;   
}

.list-item{
    width: 270px;
    
        &>img{
        display: block;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 100px;
        padding-right: 100px;
        background: #F5F4FA;
        border-radius: 4px;
        }

        &::before{
        display: block;
        content: '';
        height: 120px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: #F5F4FA;
        border-radius: 4px
        }

        &>.features-text{
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        margin-bottom: 0;
        margin-top: 0;
        }
        
        & .list-title,
        b {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $title-color;
        }
}

.icon-antenna::before{
    background-image: url(../images/antenna1.svg);
}
.icon-clock::before{
    background-image: url(../images/clock1.svg);
}
.icon-diagram::before{
    background-image: url(../images/diagram1.svg);
}
.icon-astronaut::before{
    background-image: url(../images/astronaut1.svg);
}
.list-title{
    margin-top: 55px;
    margin-bottom: 10px;
}