.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 94px;
}
.portfolio-list-item{
    width: 370px;
    height: 404px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    outline: none;
}
.portfolio-list-item:nth-child(3n){
    margin-right: 0px;
}
.portfolio-list-item:nth-last-child(-n + 3){
    margin-bottom: 0px;
}
.portfolio-link{
    display: block;
    
      &:hover,
      &:focus{
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    0px 1px 1px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-list-title,
.title-description{
    padding-left: 24px;
}
.title-description{
    margin-top: 4px;
    padding-bottom: 20px;
    margin-bottom: 0;
}
.portfolio-link-img-wrapper{
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}
.overlay{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transition: all 250ms linear;

        & p{
            @extend %overlay-p;
        }
}
.portfolio-link:hover .overlay{
    top: 0;
}