.list-title{
    margin-top: 30px;
    margin-bottom: 10px;
}
.team-list-item {
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
}

.team-list-item p{
    margin-top: 0;
    margin-bottom: 16px;
}
.our-team-section{
    background-color: #F5F4FA;
}
.team-list-item>.list-title,
.team-list-item p{
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
}
.team-list-item>.list-title{
color: #212121;
}
.team-list-item p{
color: $p-text-color;
}

.social-link{
    display: block;
    width: 44px;
    height: 44px;
    
        &:hover,
        &:focus{
            background-color: $hover-color;
            border-radius: 50%;
            
                .social-link-svg{
                fill: #FFFFFF;
                }
        }
    
        &-svg{
            padding: 12px;
            width: 20px;
            height: 20px;
            fill: #AFB1B8;
            }
    
        &-item{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 44px;
            height: 44px;
            background-repeat: no-repeat;
            background-position: center;
            }
    
        &-list{
            display: flex;
            justify-content: space-between;
            padding-left: 0px;
            padding-bottom: 24px;
            margin-left: auto;
            margin-right: auto;
            width: 206px;
            }
}
// MOBILE
@media screen and (max-width: 767px){
    .our-team-section .container{
        display: block;
        padding-bottom: 60px;
        padding-top: 60px;
        text-align: center;
    }
    .section-title.team{
        margin-bottom: 30px;
        font-size: 28px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #212121;
    }
    .team-list-item:not(:last-child){
        margin-bottom: 30px;
    }
    .team-list-item img{
        width: 100%;
        height: auto;
    }
}
// TABLET
@media screen and (min-width: 768px){
    .team-list{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    }
    .team-list-item{
        margin-right: 30px;
        margin-bottom: 30px;
        /*  Задаём ширину элементов  */
        flex-basis: calc((100% - 30px) / 2);
    }
    // Убираем марджин для 2го и 4го
    .team-list-item:nth-child(2n+2){
        margin-right: 0;
    }
     // Убираем марджин у последних 2х
    .team-list-item:nth-last-child(-n+2){
        margin-bottom: 0;
    }
    .section-title.team{
        text-align: center;
        margin-bottom: 30px;
        font-size: 28px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #212121;
    }
}
// DESKTOP
@media screen and (min-width: 1200px){
    .our-team-section .container{
        padding-bottom: 94px;
        justify-content: center;
    }
    .container .section-title{
        margin-bottom: 50px;
    }
    .team-list{
        flex-wrap: nowrap;
    }
    .team-list-item{
        margin-bottom: 0;
        width: 270px;
    }
    .team-list-item:not(:last-child){
        margin-right: 30px;
    }
    .team-list-item img{
        width: 100%;
        height: auto;
    }
}