.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;
    }
.direction-list{
    display: flex;
    padding-left: 0;
    margin-top: 50px;
    margin-bottom: 0;
        
        &-item:not(:last-child){
        margin-right: 30px;
        }
    }

.direction-link{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $direction-link-color;
        
        & img{
        display: block;
        }
        
        &-wrapper{
        position: relative;
        }
        
        &::before{
        display: block;
        position: absolute;
        bottom: 0;
        display: block;
        content: "";
        background-color: rgba(47, 48, 58, 0.8);
        width: 100%;
        height: 70px;
        }
        
        &-text{
        position: absolute;
        width: 100%;
        bottom:0;
        margin-bottom: 27px;
        }
    }