ul .current{
    color: $hover-color;
    
    &::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -28px;

    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    
    }
}
@media screen and (max-width: 767px){
    ul .current{
        
        &::after{
        content: "";
        bottom: -8px;
    }
    }
}
@media screen and (min-width: 768px){
    ul .current{
        
        &::after{
        content: "";
        bottom: -39px;
    }
    }
}
@media screen and (min-width: 1200px){
    ul .current{
        
        &::after{
        content: "";
        bottom: -28px;
    }
    }
}
