/* Логотип */
.logo{
  
    &.link{
      margin-right: 85px;
      font-family: $secondary-font;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.2;
      letter-spacing: 0.03em;
      color: $logo-header-color;
    }
    
    &-span{
      color: #2196F3;
    }
  }