.filter-btn{
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;
    background-color: #F5F4FA;
    
    border-radius: 4px;
    border-color: transparent;
    
        &:hover,
        &:focus{
            color: $hover-filter-color;
            background-color: $hover-color;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
      }
    }
    
.portfolio-list-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-color;
    }
.title-description{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;    
    color: $p-text-color; 
    }
.additional-description{
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: hover-filter-color;
    }
.filter-list{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 50px;
    padding-left: 0px;
    }
.filter-list-item:not(:last-child){
    margin-right: 8px;
    }