// Секция HEADER

%header-mail-tel{
    display: flex;
    align-items: center;
    color: $p-text-color;
    fill: $p-text-color;
  }
// Стили кнопки

  %button{
    width: 200px;
      height: 50px;
     
      border: 1px solid transparent;
      border-radius: 4px;
      font-style: 400;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.87;
      background-color: $hover-color;
      text-align: center;
      letter-spacing: 0.06em;
      color: $hero-main-color;
      margin-left: auto;
      margin-right: auto;
  }
  // BACKDROP 

  %backdrop{
    position: fixed;
    display: flex;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index: 100;

    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
// MODAL CLOSE BUTTON

%modal-close-button{
  position: absolute;
    top: 10px;
    right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    padding:0;
}
// contact-form-input, + .message-form-textarea
%contact-form-input_message-form-textarea{
  display: block;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: #757575;
    padding-left: 42px;
}
// ul-footer-address

%ul-footer-address{
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  }
  // OVERLAY P

  %overlay-p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
    padding-bottom: 63px;
    margin-top: 0;
    margin-bottom: 0;
    }